$font-body: Arial, Helvetica, sans-serif;
$font-title: 'Courier New', Courier, monospace;
$font-card: Arial, Helvetica, sans-serif;

$color-oxford-blue: rgba(12, 27, 51, 0.9);
$color-alice-blue: #ebf2fa;
$color-black-transparent: rgba(0, 0, 0, 0.3);
$color-cool-gray: #8380b6;
$color-cool-gray-transparent: rgba(131, 128, 182, 0.8);

body {
    font-family: $font-body;
    background-color: $color-alice-blue !important;
}

h1, h2, h3 {
    font-family: $font-title;
}

.site-footer {
    background-color: $color-cool-gray;
    padding: 2rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.navbar-dark {
    aspect-ratio: 1200/150;
    background-size: cover;
    background-image: url('./app/assets/svg/layered-waves.svg');

    margin-bottom: 2rem;
    padding: 2rem;
}

.btn-link {
    color: $color-alice-blue !important;
}

.row-content {
    min-height: 25rem;
    width: 100%;
    background-color: $color-alice-blue !important;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 5rem  $color-oxford-blue;
    margin: 1rem;
}

a .card-text {
    color: $color-oxford-blue !important;
    position: absolute;
    align-self: center;
    font-weight: 700;
    font-size: clamp(.5rem, 3vw, 1rem);
    font-family: $font-card;
    white-space:pre-wrap;
}
.card-img {
    opacity: 0.5;
    transition: 1s;
}

.card-container {
    justify-content: center;
    margin: .5rem;
}

.card-container:hover > .card-img {
    transition: opacity .7s;
    opacity: 1;
    transform: scale(110%);
    box-shadow: 0 1rem 1rem $color-cool-gray;
}

.card-container:hover > .card-text {
    transition: font-size .5s;
    font-size: large;
    text-shadow: 0 0 0.1rem $color-alice-blue;
}

a:hover {
    border-color: $color-alice-blue;
    box-shadow: 0 .3rem 2rem $color-alice-blue;
}

.brand {
    background-color: $color-black-transparent;
    border-radius: 20% 70% / 70% 20%;
    box-shadow: 0 0 1rem $color-black-transparent;
    padding: 0 1rem 0 1rem;
}

.avatar {
    border-radius: 100% !important;
}
