body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ebf2fa !important;
}

h1, h2, h3 {
  font-family: "Courier New", Courier, monospace;
  text-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none !important;
  transition: 1s ease-out !important;
}

.site-footer {
  background-color: #8380b6;
  padding: 2rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.navbar-dark {
  aspect-ratio: 1200/150;
  background-size: cover;
  background-image: url("./app/assets/svg/layered-waves.svg");
  margin-bottom: 2rem;
  padding: 2rem;
  opacity: 0.9;
}

.btn-link {
  color: #ebf2fa !important;
}

.row-content {
  min-height: 25rem;
  width: 100%;
  background-color: #ebf2fa !important;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 5rem rgba(12, 27, 51, 0.9);
  margin: 1rem;
}

a .card-text {
  color: rgba(12, 27, 51, 0.9) !important;
  position: absolute;
  align-self: center;
  font-weight: 700;
  font-size: clamp(0.5rem, 3vw, 1rem);
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre-wrap;
}

#cartype-card-img {
  opacity: 0.5;
  transition: 1s;
}

.card-container {
  justify-content: center;
  margin: 0.5rem;
}

.card-container:hover > #cartype-card-img {
  transition: opacity 0.7s;
  opacity: 1;
  transform: scale(110%);
  box-shadow: 0 0.3rem 0.7rem #8380b6;
}

.card-container:hover > .card-text {
  transition: font-size 0.5s;
  font-size: large;
  text-shadow: 0 0 0.1rem #ebf2fa;
}

a:hover {
  border-color: #ebf2fa;
  box-shadow: 0 0 0.5rem #ebf2fa;
}

.nav-link {
  border-radius: 1rem;
}

.brand {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20% 70%/70% 20%;
  padding: 0 1rem 0 1rem;
  transition: 1s ease-out;
}

.brand:hover {
  box-shadow: 0 0 1.5rem #ebf2fa;
}

.avatar {
  border-radius: 100% !important;
}

.fake-button {
  background-color: #ebf2fa !important;
  color: #8380b6 !important;
  border-color: #ebf2fa !important;
}

.car-form-button {
  color: rgba(131, 128, 182, 0.8) !important;
  border-color: rgba(12, 27, 51, 0.9) !important;
  border-radius: 0.3rem;
  background-color: #ebf2fa !important;
}

.submit-button {
  background-color: rgba(12, 27, 51, 0.9) !important;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3) !important;
  border-style: hidden !important;
  transition: 0.3s ease-out !important;
}

.submit-button:hover {
  box-shadow: 0 0 0.7rem rgba(12, 27, 51, 0.9) !important;
  transform: scale(102%);
}

.submit-link {
  color: #ebf2fa;
}

.car-card-text {
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.car-card {
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgba(12, 27, 51, 0.9);
  box-shadow: 0 0 0.5rem rgba(12, 27, 51, 0.9);
}

.filter-form {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1400px) {
  .filter-form {
    border-left: 0.1rem rgba(12, 27, 51, 0.9) inset;
    margin-left: 5rem;
  }
}
.car-filter {
  padding: 2.5rem;
  margin-top: 0;
  margin-bottom: 2rem;
  border-width: 0.1rem;
  border-color: rgba(12, 27, 51, 0.9);
  border-style: inset;
}

h5 {
  margin: 0;
  padding: 0;
}

.divider {
  border: 0;
  border-bottom: 0.1rem rgba(0, 0, 0, 0.3);
  border-style: solid;
}

.divider-first {
  margin-top: 1rem;
  border: 0;
  border-top: 0.1rem rgba(0, 0, 0, 0.3);
  border-bottom: 0.1rem rgba(0, 0, 0, 0.3);
  border-radius: 100rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-style: solid;
}

.divider-last {
  border: 0;
  border-bottom: 0.1rem rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-radius: 2rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.car-card-info {
  background-color: #8380b6;
  border-left: rgba(131, 128, 182, 0.8);
  border-left-width: 0.2rem;
  border-left-style: ridge;
}/*# sourceMappingURL=App.css.map */